{% extends "app_tweets/base.html" %}

{% load static %}

{% block content %}
    <div class="homepage-feed">
         {% comment %} Tweet Input Box  {% endcomment %}
        <div class="tweet-input-box">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <textarea name="tweet" rows="4" placeholder="What is happening?!" class="post-textarea" required></textarea>
            <div class="tweet-footer">
                <input type="file" id="media-input" name="media" accept="image/*, video/*" style="display:none" onchange="handleFileChange(event)">
                <div class="tweet-footer-navigation">
                    <i class="fa-solid fa-image" onclick="triggerFileInput()"></i>
                </div>
                <button class="post-tweet" onclick="postTweet()">Post</button>
            </div>
        </div>

        {% comment %} Tweet Container  {% endcomment %}
        <div id="tweet-container"></div>

        <button id="load-more-btn" class="load-more-btn"><i class="fa-solid fa-rotate-right"></i> Load More</button>
    </div>
    


    

    <script>
        const allTweetsApiUrl = "{% url 'app_tweets:all-tweets-api' %}"
        const allFollowingTweetsApiUrl = "{% url 'app_tweets:following-tweets-api' %}"
        const followingTweetsApiUrl = "{% url 'app_tweets:following-tweets-api' %}"
        const postTweetUrl = "{% url 'app_tweets:tweet-list-api' %}"
        const logoutUrl = "{% url 'app_authenticate:logout-api' %}"
        const homepageUrl = "{% url 'homepage' %}"
        const profileUrl = "{% url 'profile' %}"

        const nonFollowedUsersApiUrl = "{% url 'app_follow:non-following-users' %}"    
    </script>
{% endblock %}